*{
    margin:0;
    padding: 0;
}
body{
   background-color:ivory;
   font-size: 15px;
}
nav ul{
    display: flex;
    justify-content:space-between;
    align-items:center;
    list-style: none;
    right: 5px;
    padding: 10px 20px;
}
nav li{
    padding-right: 20px;
    
}
#name{
    color:maroon;
    font-size: 25px;
    padding-right:150px;
}
.links{
    text-decoration: none;
    cursor:pointer;
}
#home{
    display: flex;
    background-color:darkseagreen;
    height: 70px;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
#profilepic{
    height: 180px;
    width: 150px;
    margin:10px 10px 0px 10px;
    border-radius: 80px;
    
}
#about{
    display: flex;
    align-items: center;    
}
#resume{
    padding: 5px 0 5px 0;
    font-size: 15px;
    text-align: center;
}
#work{
    background-color:darkkhaki;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}
hr{
    width:400px;
}
.project{
    background: white;
    color:black;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
    
}

#work 
p, hr{
    margin-bottom: 10px;
}
#work div{
    display:flex;
    justify-content: space-around;
    /* margin: top left bottom right */
    margin:10px 0;
    width: 100%;
}
li{
    display: flex;
    justify-content: space-around;
    width:100%;
    list-style: none;
    padding: 3px;
}
progress[value]{
    height: 10px;
    width: 350px;
    -webkit-appearance:none;
}
#contact,form{
    background-color:burlywood;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0 3px 0;
}

.input{
    line-height: 12px;
    width: 250px;
    border-radius: 1px;
    border-color: black;
    margin: 10px 0;
    
}

